<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h1><%= post.title %></h1>
    <h2><%= post.contenu %></h2>
    <div>Post by <%= post.name %></div>
    <div>Score <%= post.score %></div>

    <% for(var i=0; i<response.length; i++){ %>
        <h2><%= response[i].contenu %></h2>
        <div><%= response[i].name %></div>
        <div><%= response[i].score %></div>
    <% } %>
    <% if(account){ %>
        <form method="post">
            <input type="text" placeholder="Contenu" required name="contenu">
            <button type="submit">Répondre</button>
        </form>
    <% } %>
</body>
</html>